* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5e6d7;
  padding: 2rem;
  color: #7c6f64;
}

p {
  text-align: center;
  color: #7c6f64;
}

a {
  text-decoration: none;
  color: #eeeeeee8;
}